/*
Theme Name:     TwentySeventeen Child
Theme URI:      
Description:    Child TwentySeventeen
Author:         Yurii Ivashyn
Author URI:     
Template:       twentyseventeen
Version:        0.1.0
*/

@import url("../twentyseventeen/style.css");

.product .product_meta{
	display: none;
}
.product .cart{
	display: flex;
	flex-flow: column;
}
.product .cart .quantity{
	order: 2;
}
.product .cart .single_add_to_cart_button{
	order: 1;
	width: 170px;
    margin-bottom: 10px;
}
footer .site-info, footer .contacts{
	float: left;
}
footer .site-info{
	display: block;
}
footer .contacts{
	width: 42%;
}
footer .contacts *{
	display:block;
	margin-bottom: 5px;
}
footer .contacts a span{
	display: initial;
}
@media (max-width: 768px){
	footer .wrap{
		display:flex;
	    flex-flow: column;
	}
	footer .site-info{
		order:2;
		text-align: center;
	}
	footer .contacts{
		order:1;
		width: 100%;
	}
	footer .contacts a, footer .contacts input[type='button']{
		width: 100%;
		background-color: #222;
		border: 0;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		-webkit-box-shadow: none;
		box-shadow: none;
		color: #fff;
		cursor: pointer;
		display: inline-block;
		font-size: 14px;
		font-size: 0.875rem;
		font-weight: 800;
		line-height: 1;
		padding: 1em 2em;
		text-align: center;
		text-shadow: none;
		-webkit-transition: background 0.2s;
		transition: background 0.2s;
	}
	footer .contacts a{
		margin-bottom: 10px;
	}
	footer .contacts a span{
		display: none;
	}
}

.container-popup.disabled{
	opacity: 0;
}
.container-popup{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	transition: .5s all;
}
.popup-custom{
	margin: auto;
	background: #fff;
	width: 400px;
	padding: 10px;
	text-align: center;
	border-radius: 5px;
	margin-top: 150px;
	transition: .5s all;
}
.popup-custom a{
	display: block;
}
.popup-custom.disabled{
	display: none;
}



/* rtl styles*/
body.rtl .site-footer .widget .product_list_widget li a.remove, 
body.rtl .widget .product_list_widget li a.remove{
	float: left;
}
body.rtl .product .cart{
	display: block;
}
body.rtl .product .cart .single_add_to_cart_button{
	width: auto;
}

body.rtl.woocommerce #content div.product div.thumbnails a.first{
	float: right;
	margin-right: 0; 
}
body.rtl .star-rating{
	moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}
body.rtl .widget_product_search input[type=submit]{
    left: .5em;
}
body.rtl .widget_product_search .search-field{
	padding-right: 10px;
}
body.rtl h3{
	direction: initial;
}

body.rtl.single-product .woocommerce-product-rating .star-rating{
	float: right
}